<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.badlogic.gamedev"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".tools.GameActivity" android:label="Game Activity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>                    
        <activity android:name=".samples.InputSample" android:label="Input Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>                    
        <activity android:name=".samples.TriangleSample" android:label="Triangle Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.ColorSample" android:label="Color Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.ColorSample2" android:label="Color Sample 2">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.TextureSample" android:label="Texture Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.MeshSample" android:label="Mesh Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.TextureMeshSample" android:label="Texture/Mesh Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.OrthoSample" android:label="Ortho Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.CameraSample" android:label="Camera Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>     
        <activity android:name=".samples.ZBufferSample" android:label="Z-Buffer Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>                   
        <activity android:name=".samples.LightSample" android:label="Light Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.TransformationSample" android:label="Transformation Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity> 
        <activity android:name=".samples.ObjSample" android:label="Obj Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>   
        <activity android:name=".samples.MultipleObjectsSample" android:label="Multiple Objects Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity> 
        <activity android:name=".samples.SoundSample" android:label="Sound Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>
        <activity android:name=".samples.MusicSample" android:label="Music Sample">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>                    

    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 